$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower
$break-small: 767px;
$break-medium: 992px;
$break-large: 1250px;
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  font-family: lato;
}
.container-fluid {
  padding: 0px;
}
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-top: 20px;
  border-bottom: none;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
  .nav {
    z-index: 10;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
.navbar-default {
  background-color: transparent;
  border: none;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $break-small) {
  .container {
    max-width: 730px;

  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 2px;
  }
}

.fixed-bg-img {
  width: 100%;
  position: fixed;
  left: 0px;
  right: 0px;
  top: -250px;
  z-index: -1;
}

.fixed {
  z-index: 10;
  opacity : 0.5;
  position: fixed;
  right: 20px;
  width: auto;
  background-color: white;
  padding: 5px;
  border: 1px solid black;
}

.caption {
  display: none;
}
.introduction {
  background-color: transparent;
  position: relative;
  /*top: 250px;*/
  height: 250px;
  display: block;
}
.intro-pic  {
  height: 250px;
  width: 250px;
  border: 10px solid #ffffff;
  border-radius: 250px;
  position: relative;
  background-color: transparent;
  top: -125px;
  z-index: 2;
  transition: border-color 0.5s ease;
  border-color: white;
}
.intro-pic:hover {
  border-color: black;
}
.about-text {
  background-color: #ffffff;
  padding-bottom: 100px;
  display: inline-block;
  position: relative;
  top: -175px;
  height: 450px;

  p {
    margin-left: 25px;
    font-size: 1.25em;
    font-weight: 700;
  }
}
#about {
  img {
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 75px;
    display: inline-block;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
    img:not(:nth-of-type(n+4)) {
    margin-top: 15px;
  }
  .logo-container {
    position: absolute;
    right: 0px;
    top: 100px;
  }
  img {
    cursor: pointer;
  }
  img:hover {

    transform: rotateY(360deg);
  }
  .popover {
    width:600px;  
  }
  
}


@media (max-width: 550px ){
  #about div  {
    background-color: #ffffff;
  }

}
.projects {
  height: 120px;
  background:#ffffff;
  position: relative;
  top: 60px;

}
.project {
    margin-top: 25px;
    display: inline-block;
    p {
      margin-top: 10%;
      font-size: 1.25em;
    }
    b {
      height: 350px; 
      width: 350px; 
      display:block; 
      position: relative;
    }
    @media(min-width: $break-medium){
      p {
        margin-left: 30px
      }
    }
}
#nicole {
  margin-bottom: 75px;
}
@media (max-width: $break-small ){
    .project  {
      margin-top:30px;
    }
    .project p {
      margin-top:0px;
    }
    .fixed {
      padding: 20px;
      border: none;
      opacity: 1.0;
      background-color: transparent;
    }
    #xs-nav li {
      background-color: #ffffff;
      border-left: 1px solid #000000;
      border-right: 1px solid #000000;
    }
    #xs-nav li:first-child {
      border-top: 1px solid #000000;
    }
    #xs-nav li:last-child {
      border-bottom: 1px solid #000000;
    }
}


h1 {
  font-size: 3.35em;
  font-weight: 700;
}


.contact-section {
  height: 615px; 
  background-color: #ffffff; 
  background-image: url("../images/contact.jpg");
  background-size: 116%;
  background-position: center bottom;
  background-repeat: no-repeat;
  p {
    font-size: 1.25em;
  }
  @media (min-width: $break-large){
    background-position-y: -400px;
  }
  @media (max-width: $break-small){
    height: 815px; 
    background-size: 280%;
    background-position: center center;
  }  
}




.contact-form {
  height: 450px;
  display: inline-block;
  background-color: #fff;
  width: 80%;
  margin-top: 25px;
  border-radius: 5px;
  padding: 10px;
  @media (max-width: $break-small ){
    height: auto;
  }
}

#intro {
  background-color: #ffffff;
  top: 70px;
}

.form-control-feedback {
  top: 0px;
}
.nav > li > a:hover, .nav > li > a:focus {
background-color: #D5D5D5;
}
.nav-ul li:last-child{
  padding-right: 20px;
}
nav.fixed:hover{
  -webkit-animation: navAnim ease-in 0.35s; /* Chrome, Safari, Opera */
  -webkit-animation-fill-mode: forwards;


}
@-webkit-keyframes navAnim {
    from {opacity: 0.5;}
    to {opacity: 1.0;}
}
.contact-logos{
    img {
      margin-top: 65px;
      cursor: pointer;
        @media (max-width: $break-small){
          padding:0px 10px 20px 10px;
        }
    }
}






/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 230px;
  height: 230px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
.flipper b {
 height: 230px;
width: 230px;
display: block;
position: relative;
right: 15px;
border-radius: 250px; 
}

.front-img {
-webkit-transform: rotate(30deg);
-moz-transform: rotate(30deg);
-ms-transform: rotate(30deg);
-o-transform: rotate(30deg);
transform: rotate(11deg);
display: inline-block;
background-size: 121%;
background-position: 2px -8px;
background-image: url("../images/headshot2.jpeg");
}

.back-img {
background-size: 101%;
background-position: -2px -43px;
background-image: url("../images/headshot.jpg");
}